nav {
  .navbar-brand {
    cursor: pointer;
  }

  .button-group {
    display: flex;

    div {
      margin: 0 0.5rem;
    }

    h3 {
      color: white;
      margin: 0 1rem;
    }
  }
}

#search {
  position: relative;
  max-width: 30rem;
  margin: 3rem auto;
  display: flex;

  .btn {
    width: 30%;
  }

  small {
    position: absolute;
    top: 3rem;
  }
}

#cards-wrapper {
  img {
    max-width: 100%;
    display: block;
  }
  
  figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
  }
  
  figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
  }

  figure span {
    color: black;
    text-decoration: none;
  }

  figcaption {
    grid-row: 2;
    grid-column: 1;
    background-color: rgba(255,255,255,.5);
    padding: .2em .5em;
    justify-self: start;
    cursor: pointer;
  }

  .container {
    column-count: 4;
    column-gap: 10px;
    width: 100%;
  }
}

#add-favorite {
  padding: .5rem;
}

.empty {
  margin: 0;
  text-align: center;
}

.credentials-form {
  height: 100vh;
  position: relative;
}

.centered {
  max-width: 35%;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    width: 100%;
  }
}

.red {
  color: red;
}