nav {
  .button-group {
    display: flex;

    div {
      margin: 0 .5rem;
    }
  }
}

#search {
  max-width: 25rem;
  margin: 3rem auto;
  display: flex;

  .btn {
    width: 20%;
  }
}

#cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 0;

  .card {
    padding: 1rem;
    width: 20%;
  }

  .card-body {
    position: relative;

    .card-title {
      margin: 0 0 2rem;
    }

    button {
      position: absolute;
      bottom: 5px;
    }
  } 
}

.empty {
  margin: 2rem 0;
  text-align: center;
}

.credentials-form {
  margin: 3rem auto;

  .container {
    width: 40%;
  }
}

.red {
  color: red;
}